;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains alot of information
;
;==========================================================
[mac]
translucent = #90ffffff
translucentdark = #aa000000
black = #282C34
blue = #007AFF
tealblue = #5AC8FA
purple = #5856D6
white = #ffffff
mac = #0F73F5  
green = #4CD964
pink = #FF2D55
yellow = #FFCC00
orange = #FF9500
red = #FF3B30

[colors]
background = ${xrdb:background}
background-alt = #444

foreground = ${xrdb:foreground}
foreground-alt = #555

white   = ${xrdb:color0}
red     = ${xrdb:color1}
green   = ${xrdb:color2}
yellow  = ${xrdb:color3}
blue    = ${xrdb:color4}
magenta = ${xrdb:color5}
cyan   = ${xrdb:color6}
black  = ${xrdb:color7}

white2  = ${xrdb:color8}
red2    = ${xrdb:color9}
green2  = ${xrdb:color10}
yellow2 = ${xrdb:color11}
blue2   = ${xrdb:color12}
magenta2= ${xrdb:color13}
cyan2   = ${xrdb:color14}
black2  = ${xrdb:color15}

prefix_bg = ${mac.translucent}
prefix_fg = ${xrdb:color7}

module_fg = ${xrdb:color0}


[bar/status]
monitor = ${env:MONITOR:eDP-1-1}

fixed-center = true
width = 100%
height = 24
offset-x = 0%
offset-y = 0%

background = ${mac.translucentdark}
foreground = ${mac.white}

padding-left = 		0
padding-right = 	0
module-margin = 2

font-0 = SF Pro Text:style=Semibold:pixelsize=10;3
font-1 = SF Pro Display:style=Bold:pixelsize=10;3
font-2 = SauceCodePro NF:pixelsize=14;4
font-3 = Font Awesome 5 Free:style=Bold:pixelsize=12;3
font-4 = Font Awesome 5 Brands:style=Bold:pixelsize=12/3
font-5 = Material Icons:pixelsize=8;2
font-6 = Wuncon Siji:pixelsize=10;2

modules-left = menu xbacklight bspwm xwindow
modules-center = togglemusic
modules-right = eth wlan pulseaudio battery date

wm-restack = bspwm

override-redirect = false
enable-ipc = true

click-right = rofia
scroll-up = bspwm-desknext
scroll-down = bspwm-deskprev

[module/xwindow]
type = internal/xwindow

format-prefix = 
format-prefix-padding = 2
format-prefix-foreground = ${mac.white}
format-prefix-background = ${mac.mac}

format = <label>
format-padding = 2
label = "%title:0:50:...%
label-padding = 1

[module/bspwm]
type 			= internal/bspwm
pin-workspaces 		= true
index-sort 		= true

enable-click 		= true
enable-scroll 		= true

wrapping-scroll 	= true
reverse-scroll 		= true

format                    = "  <label-state> <label-mode>"

label-dimmed-focused-padding = 2
label-dimmed-empty-padding = 2
label-dimmed-occupied-padding = 2
label-dimmed-focused-background = ${mac.tealblue}
label-dimmed-occupied-background = ${mac.white}
label-dimmed-occupied-foreground = ${mac.black}

label-focused = %name%
label-focused-foreground = ${mac.white}
label-focused-background = ${mac.mac}
label-focused-padding = 2

label-occupied = %name%
label-occupied-padding = 2
label-occupied-background = ${mac.tealblue}

label-urgent              = %name%
label-urgent-foreground   = ${mac.white} 
label-urgent-background   = ${mac.green}
label-urgent-padding 	  = 2

label-empty              = %name%
label-empty-padding 	  = 2

[module/xbacklight]
type = internal/xbacklight

output = eDP-1-1
enable-scroll = true

format = <label> 

label = "  %percentage%%"
label-padding = 0

[module/wlan]
type = internal/network
interface = wlp3s0
interval = 3.0

format-connected = <ramp-signal> <label-connected>
format-connected-underline = #9f78e1
label-connected = %essid%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}
ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
ramp-signal-5 = 

[module/eth]
type = internal/network
interface = enp4s0
interval = 3.0
accumulate-stats = true

label-connected = "  %downspeed%"

label-connected-padding = 1

[module/date]
type     = internal/date
interval = 1.0
date     =
date-alt =  [ %a %d, %b |
time     = "%d %a %H:%M"
time-alt = %H:%M:%S ]
label    =   %date% %time%

format         = <label>

label-padding    = 1


[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume>

label-volume            = "  %percentage%%"
label-volume-padding    = 1

format-muted = "  <label-muted>"

label-muted            = ---
label-muted-padding    = 1

[module/battery]
type          = internal/battery
full-at       = 100
battery       = BAT0
adapter       = AC0
poll-interval = 5

format-charging = <label-charging>

label-charging            = "  %percentage%"
label-charging-padding    = 1 

format-discharging = <label-discharging>

label-discharging            = "  %percentage%"
label-discharging-padding    = 1

format-full = <label-full>

label-full            = "  %percentage%"
label-full-padding    = 1 

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <ramp> <label>
format-underline = #f50a4d
format-warn = <ramp> <label-warn>
format-warn-underline = ${self.format-underline}

label = %temperature-c%
label-warn = %temperature-c%
label-warn-foreground = ${colors.secondary}

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-foreground = ${colors.foreground-alt}

[module/menu]
type = custom/menu

expand-right = true

format-padding = 2
format-foreground = ${mac.white}
format-background = ${mac.mac}

label-open = Menu
label-close = 
label-separator = " - "

menu-0-0 = Theme
menu-0-0-exec = selt 
menu-0-1 = Sound
menu-0-1-exec = select_audio_output
menu-0-2 = Exit
menu-0-2-exec = menu-open-1

menu-1-0 = Quit
menu-1-0-exec = bspc quit
menu-1-1 = Shutdown
menu-1-1-exec = shutdown -h 1
menu-1-2 = Restart
menu-1-2-exec = shutdown -r now
menu-1-3 = 
menu-1-3-exec = lock.sh

[module/togglemusic]
type = custom/ipc
format = 
format-padding = 2
 
hook-0 = ctlmedia toggle 
hook-1 = bspc desktop -f IV 
hook-2 = ctlmedia next
hook-3 = ctlmedia prev
hook-4 = mpc -q random && notify-send "$(mpc status | grep -o 'random: o..')"
hook-5 = ctlmedia stop

click-left = polybar-msg -p %pid% hook togglemusic 1
double-click-left = polybar-msg -p %pid% hook togglemusic 2
scroll-down = polybar-msg -p %pid% hook togglemusic 3
scroll-up = polybar-msg -p %pid% hook togglemusic 4 
click-right = polybar-msg -p %pid% hook togglemusic 5 
click-middle = polybar-msg -p %pid% hook togglemusic 6

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over

[global/wm]
margin-top = 5
margin-bottom = 5

; vim:ft=dosini
